.audience {
    .audience-header-wrapper {
        display: inline;   
        .audience-add-button-wrapper {
            float: right;
            margin-top: -50px;
        }
    }
    .table-header {
        width: 150px;
    }

    .add-tag-icon {
        color: #8cdc14;
        cursor: pointer;
    }
}