.messages {
    .chat-list-row {
        height: 100px;
        background-color: aquamarine;
        cursor: pointer;
        border: 2px solid red;
        padding: 10px;
        border-radius: 25px;
    }
}