.nav-bar-wrapper {

    .nav-link-anchor {
        color: white;
        margin-right: 40px; 
        text-decoration: none;
        
        &.active {
            text-decoration: underline;
        }
    }
    @media screen and (min-width: 992px) {
    .nav-bar-links {
        margin-left: 100px;
        padding-top: 3px;
    }
}
    @media screen and (max-width: 992px) {
        .nav-bar-links {
            display: inline-grid;
        }
}
    .free-trial-wrapper {
        float: right;
    }
}