
html {
    font-family: Arial, Helvetica, sans-serif;

    .component-wrapper {
        padding-top: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .modal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 400px;
        .modal-action {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        .add-contact-modal-content {
            max-height: 290px;
            overflow-y: auto;
        }
    }

}